# VS Code
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# No output
src/**/*.js
run/
run/*

# Bot Data
data/**/*

# Published configs in base
res/*
!res/config.example.yml

# Published language sets in base
res/lang/**/*
!res/lang/ko-kr.yml

# Published web resources in base
res/web/**/*
!res/web/misc/
!res/web/misc/cryingIsland.gif
!res/web/misc/favicon.png
!res/web/misc/style.css
!res/web/404.html
!res/web/template.html

# Published modules
src/bot/modules/**/*
!src/bot/modules/*.ts

# Published commands
src/bot/commands/**/*
!src/bot/commands/guild
!src/bot/commands/guild/*.ts
!src/bot/commands/system
!src/bot/commands/system/*.ts
